@import "./colors.scss";

@mixin fonts($color: $primary-violet, $size: 14px, $weight: 'regular', $style: normal, $lineHeight: initial, $top: initial, $bottom: initial) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $lineHeight;
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin flex-view($display:flex,$direction:row,$align:center,$justify:center,$width:'',$height:'') {
    display: $display;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    width: $width;
    height: $height;
}

@mixin shake {
    @keyframes shake {
        0% {
            transform: scale(1.2) rotate(-10deg);
        }

        25% {
            transform: rotate(10deg);
        }

        50% {
            transform: rotate(-5deg);
        }

        75% {
            transform: rotate(5deg);
        }

        100% {
            transform: scale(1) rotate(0deg);
        }
    }    
}