.cursor-div{
    display: flex;
}

.container {
    --transformX: 30;
    --transformY: 30;
    display: flex;
    z-index: 1;
    position: relative;
    top: -100px;
    left: -100px;

    .outer-circle {
        border: 1px dashed #fff;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        animation: grow 1s ease forwards;
        opacity: 0;
    }

    .inner-circle {
        border: 1px dashed #fff;
        width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 15px;
        animation: grow 1s ease forwards;
        opacity: 0;
    }

    .heart {
        position: absolute;
        animation: grow 1s ease forwards;
        animation-name: grow, effect;
        top: 22px;
        left: 22px;
        --transformX: -35px;
        --transformY: 35px;
    }

    .square {
        position: absolute;
        animation: grow 1s ease forwards;
        animation-name: grow, effect;
        top: 22px;
        left: 22px;
        --transformX: -20px;
        --transformY: -55px;
    }

    .circle {
        position: absolute;
        animation: grow 1s ease forwards;
        animation-name: grow, effect;
        top: 22px;
        left: 22px;
        --transformX: 55px;
        --transformY: 0px;
    }

    @keyframes effect {
        0% {
            transform: translate(0, 0) rotate(0deg);
        }

        100% {
            transform: translate(var(--transformX), var(--transformY)) rotate(360deg);
        }
    }

    @keyframes grow {
        0% {
            scale: 0;
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        90% {
            opacity: 0;
            scale: 2.5;
        }
        100%{
            opacity: 0;
            scale: 0;
        }
    }
}