@import '/src/styles/global/colors.scss';
@import '/src/styles/global/variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px;
    width: 100%;

    .header {
        font-size: 1.5rem;
        @include fonts($white, max(15px, 1.5vw), 500, normal);
        letter-spacing: .35em;
    }

    .about-text {
        font-size: 25px;
        @include fonts($primary-violet, max(25px, 3vw), 500, italic, initial, 15px);
        text-align: center;
        display: flex;

        .animate-text {
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
        }

        .write-animate {
            animation: writeAnimation 3000ms normal forwards ease;
        }

        .clear-animate {
            animation: clearAnimation 3000ms normal forwards ease;
        }

        @keyframes writeAnimation {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }

        @keyframes clearAnimation {
            0% {
                width: 100%;
            }

            100% {
                width: 0%;
            }
        }

        .blinker {
            animation: blinkAnimate 1000ms infinite;
        }

        @keyframes blinkAnimate {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .brief {
        @include fonts($white, max(1.25rem, 1.25vw), 500, normal, max(30px, 2.5vw));
    }

    .reach-me {
        border: 3px solid $primary-violet;
        padding: 8px 20px;
        text-decoration: none;
        @include fonts($white, max(1rem,1.2vw), 500, italic);
        background-color: transparent;
        border-radius: 50px;
        box-shadow: 0 0 .2px $white,
            0 0 3px $primary-violet,
            0 0 0.8px $primary-violet,
            0 0 2.8px $primary-violet,
            inset 0 0 5px $primary-violet,
            0 0 5px $primary-violet;
    }

    .reach-me:hover{
        box-shadow: 0 0 .2px $white,
        0 0 3px $primary-violet,
        0 0 0.8px $primary-violet,
        0 0 2.8px $primary-violet,
        inset 0 0 50px $primary-violet;
        transition: box-shadow 1000ms ease;
    }
}