.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    gap: 5px;

    .sub-container{
        display:flex;
        flex-direction: column;
        width:100%;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        scroll-behavior: smooth;
        // scroll-snap-type: y proximity;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }

}