@import "/src/styles/global/colors.scss";
@import "/src/styles/global/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 10px;
    min-height: 100%;            /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: start;

    .brief {
        @include fonts($white, max(1.25rem, 1.25vw), 500, normal, max(30px, 2.5vw));
        text-align: center;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: space-between;

        .reach-me{
            @include fonts($primary-violet, max(1.25rem, 1.25vw), 500, normal, max(30px, 2.5vw));
            border-bottom: 1px dashed $white;
            width: fit-content;
            align-self: center;
            padding: 0 20px;
        }
    }
}