@import '/src/styles/global/colors.scss';
@import '/src/styles/global/variables.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;/* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: start;

    .header {
        font-size: 1.5rem;
        @include fonts($white, max(15px, 1.5vw), 500, normal, 80px);
        letter-spacing: .35em;
    }

    .resume-container{
        display: flex;
        flex-grow: 1;
        width: 100%;
        .iframe{
            width: 100%;
        }
    }

    .button-container{
        display: flex;
        align-items:center;
        cursor: pointer;

        .download-btn {
            border: 3px solid $primary-violet;
            padding: 8px 20px;
            text-decoration: none;
            @include fonts($white, max(1rem,1.2vw), 500, italic);
            background-color: transparent;
            border-radius: 50px;
            box-shadow: 0 0 .2px $white,
                0 0 3px $primary-violet,
                0 0 0.8px $primary-violet,
                0 0 2.8px $primary-violet,
                inset 0 0 5px $primary-violet,
                0 0 5px $primary-violet;
        }
    }

    .button-container:hover{
        .download-btn{
            box-shadow: 0 0 .2px $white,
            0 0 3px $primary-violet,
            0 0 0.8px $primary-violet,
            0 0 2.8px $primary-violet,
            inset 0 0 50px $primary-violet;
            transition: box-shadow 1000ms ease;
            animation: shake 350ms ease;
        }
        @keyframes shake {
            0% {
                transform: scale(1.2) rotate(-10deg);
            }

            25% {
                transform: rotate(10deg);
            }

            50% {
                transform: rotate(-5deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: scale(1) rotate(0deg);
            }
        }
    }
}