@import "/src/styles/global/colors.scss";
@import "/src/styles/global/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 100%;               /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: start;

    .header{
        height: 15%;
        .title{
            font-size: 1.2rem;
            @include fonts($primary-violet,clamp(20px,5vw,25px),500);
        }
    }
    .section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 70%;
        width: 100%;
        .title{
            @include fonts($white,clamp(15px,4vw,20px),400);
        }
    }
}