@import '/src/styles/global/colors.scss';
@import '/src/styles/global/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: start;

    .sub-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        .header {
            font-size: 1.5rem;
            @include fonts($white, max(15px, 1.5vw), 500, normal);
            letter-spacing: .35em;
            text-align: center;
            margin-bottom: 2vh;
        }
        .cards-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            max-height: 40vh;
            overflow: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
            .card{
                display: flex;
                flex: 1;
                flex-flow: column wrap;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;
                border: 1px solid $white;
                border-radius: 20px;
                padding: 10px;
            }
            .card:nth-child(odd){
                flex: 1;
                padding: 40px 10px;
            }
            .odd{
                flex: 1;
                border-color: $primary-violet;
                color: $white;
            }
        }
    }
}