@import "/src/styles/global/colors.scss";
@import "/src/styles/global/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 30px;
    min-height: 100%;               /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: end;

    .header {
        font-size: 1.2rem;
        @include fonts($white, clamp(20px, 5vw, 25px), 500);
        letter-spacing: .25em;
    }

    .resume-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;
        img{
            width: 100%;
            // height: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
        }
    }

    .button-container{
        display: flex;
        align-items:center;
        cursor: pointer;

        .download-btn {
            border: 3px solid $primary-violet;
            padding: 8px 20px;
            text-decoration: none;
            @include fonts($white, max(1rem,1.2vw), 500, italic);
            background-color: transparent;
            border-radius: 50px;
            box-shadow: 0 0 .2px $white,
                0 0 3px $primary-violet,
                0 0 0.8px $primary-violet,
                0 0 2.8px $primary-violet,
                inset 0 0 5px $primary-violet,
                0 0 5px $primary-violet;
        }
    }

    .button-container:hover{
        .download-btn{
            box-shadow: 0 0 .2px $white,
            0 0 3px $primary-violet,
            0 0 0.8px $primary-violet,
            0 0 2.8px $primary-violet,
            inset 0 0 50px $primary-violet;
            transition: box-shadow 1000ms ease;
            animation: shake 350ms ease;
        }
        @keyframes shake {
            0% {
                transform: scale(1.2) rotate(-10deg);
            }

            25% {
                transform: rotate(10deg);
            }

            50% {
                transform: rotate(-5deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: scale(1) rotate(0deg);
            }
        }
    }
}