@import "/src/styles/global/colors.scss";
@import "/src/styles/global/variables.scss";

.container {
    @include flex-view(flex, column, center, space-around, 30%, 100%);
    background-color: $nav-bg;
    min-width: 300px;
    max-width: 450px;
    height: 100%;
    gap: 50px;
    padding: 20px;

    .profile-container {
        @include flex-view(flex, column, center, center);
        gap: 20px;
        margin-bottom: 15px;

        .avatar-container {
            position: relative;
            width: 125px;
            aspect-ratio: 1/1.4;
            border-radius: 0 0 100vh 100vh;
            overflow: hidden;

            .avatar-border {
                position: absolute;
                border: 2.5px solid $border-grey;
                border-radius: 50%;
                width: 120px;
                aspect-ratio: 1;
                bottom: 0;
                right: 0;
                transition: border 1000ms ease;

                .avatar {
                    object-fit: contain;
                    position: absolute;
                    bottom: -70px;
                    left: -20px;
                    width: 170px;
                    height: 222px;
                    transition: transform 450ms ease;
                    transition: filter 800ms ease;
                    filter: grayscale(1);
                }
            }

            .avatar-border:hover {
                border-color: $white;
                box-shadow: 0 0 .2px $white,
                    0 0 .2px $white,
                    0 0 2px $primary-violet,
                    0 0 0.8px $primary-violet,
                    0 0 2.8px $primary-violet,
                    inset 0 0 25px $primary-violet;

                .avatar {
                    transform: scale(1.1);
                    bottom: -50px;
                    filter: grayscale(0);
                }
            }
        }

        .title {
            @include fonts($primary-violet, 28px, 500, italic);
        }
    }

    .nav-container {
        @include flex-view(flex, column, center, space-evenly);
        height: 40%;
        gap: 25px;
        min-width: 250px;

        .title-container {
            display: flex;
            align-items: center;
            cursor: pointer;

            .title {
                @include fonts($white, 22px, 500);
                padding: 5px;
            }

            .title::after {
                margin-top: 15px;
                display: block;
                content: '';
                border-bottom: 3px solid $primary-violet;
                box-shadow: 0 0 .2px $white,
                    0 0 3px $primary-violet,
                    0 0 0.8px $primary-violet,
                    0 0 2.8px $primary-violet,
                    inset 0 0 50px $primary-violet;
                transform: scale(0);
                transition: transform 300ms ease;
            }

            .active.title::after {
                transform: scale(1);
            }
        }

        .title-container:hover {
            .title {
                animation: shake 350ms ease;
            }

            .title::after {
                transform: scale(1);
            }

            @keyframes shake {
                0% {
                    transform: scale(1.2) rotate(-10deg);
                }

                25% {
                    transform: rotate(10deg);
                }

                50% {
                    transform: rotate(-5deg);
                }

                75% {
                    transform: rotate(5deg);
                }

                100% {
                    transform: scale(1) rotate(0deg);
                }
            }
        }
    }

    .contact-container {
        @include flex-view(flex, row, center, space-evenly, 100%);
        gap: 15px;

        .link {
            .image {
                width: 30px;
                aspect-ratio: 1;
                border-radius: 10px;
                border: none;
                outline: none;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        // min-height: 100vh;
        align-self: center;
    }
}