@import "/src/styles/global/colors.scss";
@import "/src/styles/global/variables.scss";

.container {
    @include flex-view(flex, column, center, space-around, 20%, 100%);
    background-color: $nav-bg;
    min-width: 250px;
    max-width: 450px;
    gap: 50px;
    padding: 20px;

    .nav-container {
        @include flex-view(flex, column, center, space-evenly);
        height: 40%;
        gap: 25px;
        min-width: 250px;

        .title-container {
            display: flex;
            align-items: center;
            cursor: pointer;

            .title {
                @include fonts($white, 22px, 500);
                padding: 5px;
            }

            .title::after {
                margin-top: 15px;
                display: block;
                content: '';
                border-bottom: 3px solid $primary-violet;
                box-shadow: 0 0 .2px $white,
                    0 0 3px $primary-violet,
                    0 0 0.8px $primary-violet,
                    0 0 2.8px $primary-violet,
                    inset 0 0 50px $primary-violet;
                transform: scale(0);
                transition: transform 300ms ease;
            }

            .active.title::after {
                transform: scale(1);
            }
        }

        .title-container:hover {
            .title {
                animation: shake 350ms ease;
            }

            .title::after {
                transform: scale(1);
            }

            @keyframes shake {
                0% {
                    transform: scale(1.2) rotate(-10deg);
                }

                25% {
                    transform: rotate(10deg);
                }

                50% {
                    transform: rotate(-5deg);
                }

                75% {
                    transform: rotate(5deg);
                }

                100% {
                    transform: scale(1) rotate(0deg);
                }
            }
        }
    }

    .contact-container {
        @include flex-view(flex, row, center, space-evenly, 100%);
        gap: 15px;

        .link {
            .image {
                width: 30px;
                aspect-ratio: 1;
                border-radius: 10px;
                border: none;
                outline: none;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        // min-height: 100vh;
        align-self: center;
    }
}