@import '/src/styles/global/colors.scss';
@import '/src/styles/global/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    scroll-snap-align: start;

    .sub-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        
        .header {
            font-size: 1.5rem;
            @include fonts($white, max(15px, 1.5vw), 500, normal);
            letter-spacing: .35em;
            text-align: center;
            margin-bottom: 2vh;
        }
        .cards-container{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            display: grid;
            place-items: center;
            grid-auto-flow: column;
            gap: 20px;
            min-height: 100%;
            overflow-x: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
            .card{
                padding: 20px;
                gap: 20px;
                border: 1px solid $white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                min-width: 250px;
                max-height: 250px;
                max-width: 1fr;
                word-break: break-word;
                overflow-y: auto;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */
                &::-webkit-scrollbar { 
                    display: none;  /* Safari and Chrome */
                }
                @include fonts($primary-violet,clamp(12px,1.2vw,18px))
            }
            .odd{
                padding: 40px 20px;
                border-color: $primary-violet;
                color: $white;
            }
        }
    }
}